<div class="admin-container">
  <h1 class="page-title">Manage Products</h1>
  <div class="button-grid">
    <button class="admin-button" (click)="addProduct()">
      <i class="fas fa-plus"></i>
      <span>Add Product</span>
      <div class="button-overlay"></div>
    </button>
    <button class="admin-button" (click)="updateProduct()">
      <i class="fas fa-edit"></i>
      <span>Update Product</span>
      <div class="button-overlay"></div>
    </button>
    <button class="admin-button" (click)="deleteProduct()">
      <i class="fas fa-trash"></i>
      <span>Delete Product</span>
      <div class="button-overlay"></div>
    </button>
    <button class="admin-button" (click)="viewProducts()">
      <i class="fas fa-list"></i>
      <span>View Products</span>
      <div class="button-overlay"></div>
    </button>
    <button class="admin-button" (click)="bulkUpload()">
      <i class="fas fa-upload"></i>
      <span>Bulk Upload Products</span>
      <div class="button-overlay"></div>
      </button>
      <button class="admin-button" (click)="productsInDemand()">
        <i class="fas fa-list"></i>
        <span>Products in Demand</span>
        <div class="button-overlay"></div>
    </button>
  </div>
</div>