<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" 
          content="width=device-width,
                   initial-scale=1.0">                                                                                                                                                                                                                                                                                                                                                                                                                                                                               
    <link rel="stylesheet" href=
"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <div class="logo-container">
            <div class="logo-img"></div>
            <label class="logo">Farm 2 Fork</label>
        </div>  
        <ul>
            <li>
                <a routerLink="/customer/products">
                    <i class="fas fa-store"></i> Products
                </a>
            </li>
            <li>
                <a routerLink="/customer/search">
                    <i class="fas fa-search"></i> Search
                </a>
            </li>
            <li>
                <a routerLink="/customer/cart">
                    <i class="fas fa-shopping-cart"></i> Cart
                </a>
            </li>
            <li>
                <a routerLink="/customer/wishlist">
                    <i class="fas fa-heart"></i> Wishlist
                </a>
            </li>
            <li>
                <a routerLink="/customer/order-history">
                    <i class="fas fa-history"></i> Order History
                </a>
            </li>
            <li>
                <a routerLink="/customer/my-profile">
                    <i class="fas fa-user"></i> My Profile
                </a>
            </li>
            <li (click)="toggleLogout()">
                <span *ngIf="!showLogout">
                    <i class="fas fa-user-circle"></i> {{ email }}
                </span>
                <span *ngIf="showLogout" (click)="logout()">
                    <i class="fas fa-sign-out-alt"></i> Log out
                </span>
            </li>
            </ul>
    </nav>

    <router-outlet></router-outlet>
</body>

</html>
